<!-- O "portfolio." é uma variavel no laço FOR do arquivo HOME.HTML -->

{% load static %}
<div class="portfolio portfolio-list-item">
    <div class="portfolio-cover">
        {% if is_detail_page is True %}
            <div class="img_project_detail">
                {% if portfolio.cover %}
                <a href="{% url 'portfolio:projeto' portfolio.id %}" >
                    <img src="{{portfolio.cover.url}}">
                </a>
                {% else  %}
                <a href="{% url 'portfolio:projeto' portfolio.id %}" >
                    <img src="{%static 'portfolio/image/sem_imagem.png' %}">
                </a>
                {% endif %}
            </div>
            {% else %}
            <div class="img_not_detail">
                {% if portfolio.cover %}
                <a href="{% url 'portfolio:projeto' portfolio.id %}" >
                    <img src="{{portfolio.cover.url}}">
                </a>
                {% else  %}
                <a href="{% url 'portfolio:projeto' portfolio.id %}" >
                    <img src="{%static 'portfolio/image/sem_imagem.png' %}">
                </a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="portfolio-title-container">
        <h2 class="portfolio-title">{{portfolio.title}}</h2>
    </div>

    <div class="portfolio-author">
        {% if portfolio.author is not None %}
            <span class="portfolio-author-item">
                <i class="fas fa-user"></i>
                {% if portfolio.author.first_name  %}
                    {{portfolio.author.first_name}} {{portfolio.author.last_name}}
                {% else %}
                    {{portfolio.author.username}}
                {% endif %}
            </span>
        {% endif %}

        <span class="portfolio-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ portfolio.created_at}}
        </span>

        {% if portfolio.category is not None %}
            <span class="portfolio-author-item">
                <a href="" ></a>
                <a href="{% url 'portfolio:category' portfolio.category.id %}">
                    <i class="fas fa-layer-group"></i>
                    <span>{{portfolio.category.name}}</span>
                </a>
            </span>
        {% endif %}
    </div>
    {% if portfolio.category is not None %}
        <div class="portfolio-projects">
            <div class="portfolio-status">
                <a href="{% url 'portfolio:category' portfolio.category.id %}">
                    <span class="portfolio-status-level status-color">{{portfolio.category.name}}</span>
                </a>
            </div>
            <p>{{ portfolio.description}}</p>
        </div>
    {% endif %}

    <!-- is_detail_page é True na função projects (Arquivo views.py) -->
    {% if is_detail_page is not True %}
    <footer class="portfolio-footer">
        <!-- esse "portfolio:" é o app_name do arquivo "urls.py" e o "portfolio.id" é o "portfolio" do views.py-->
        <a class="portfolio-read-more button button-dark button-full-width" href=" {% url "portfolio:projeto" portfolio.id%} ">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
    {% endif %}

    {% if is_detail_page is True %}
        <div class="project_detail">
            {% if portfolio.project_detail_is_html is True %}
                {{ portfolio.project_detail|safe}} <!-- Permitirá o texto ser HTML -->

            {% else %}
                {{ portfolio.project_detail|linebreaksbr}}
            {% endif %}
        </div>
    {% endif %}
</div>