{%load static %}

<div class="portfolio portfolio-list-item">
    <div class="portfolio-cover">
        <img src="{%static 'portfolio/image/c-img.png' %}">
    </div>
    <div class="portfolio-title-container">
        <h2 class="portfolio-title">C</h2>
    </div>

    <div class="portfolio-author">
        <span class="portfolio-author-item">
            <i class="fas fa-user"></i>
            Gabriela Zerbone
        </span>
        <span class="portfolio-author-item">
            <i class="fas fa-calendar-alt"></i>
            03/03/2023 às 17:27
        </span>

        <span class="portfolio-author-item">
            <a href="" ></a>
        </span>
    </div>

    <div class="portfolio-projects">
        <div class="portfolio-status">
            <span class="portfolio-status-level status-color">Intermediário</span>
        </div>
        <p>Utilização de Python em alguns projetos como Tamagotchi sem framework, conversão de imagem em símbolos da tabela ASCII</p>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>